@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './style/calender';

* {
    font-family: "Poppins", sans-serif !important;
}

body {
    background-color: #F9FAFB;
}

main {
    padding: 120px 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no_timeslots {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: calc(100% - 67px);

    p {
        color: #868686;
        font-size: .875rem;
        font-weight: 500;
    }
}

.success_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        color: #333333;
        margin-bottom: .5rem;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        color: #868686;
    }
}